<div class="row background spacer">
  <div class="col-12 font-weight-bold text-center">{{item.date}}</div>
  <div class="col-8 font-weight-bold">Temperatue</div>
  <div class="col-4 text-right">{{item.temperature}}°C</div>
  <div class="col-8 font-weight-bold">Max temperatue</div>
  <div class="col-4 text-right">{{item.maxTemperature}}°C</div>
  <div class="col-8 font-weight-bold">Min temperatue</div>
  <div class="col-4 text-right">{{item.minTemperature}}°C</div>
  <div class="col-12 font-weight-bold text-center">{{item.description}}</div>
</div>